= render 'progress-bar'
.main
  .main__container.all-contents
    %h2.main__container__head.user-identification
      本人情報の登録
    .main__container__form
      =form_with model:@user, url: user_create_payment_signup_index_path, method: :get, local: true do |f|
        %div
          %p お客さまの本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認の提出が必要になります。
          %p.text-right
            = link_to "#" do
              本人確認書類のアップロードについて >
        .main__container__list.form-left
          .form-groups.identity
            %label お名前
            %p= session[:name]
          .form-groups.identity
            %label お名前カナ
            %p= session[:furigana]
          .form-groups.identity
            %label 生年月日 
            %p= session[:birthday]
          .form-groups
          =f.fields_for :addresses do |a|
            =a.label "郵便番号",for: "zip_code"
            %span.form-require__option
              任意
            =a.text_field :postal_code,{ placeholder: "例）1234567", class: "input-default2"}
            .form-groups
              =a.label "都道府県",for:"prefecture"
              %span.form-require__option
                任意
              =a.select :prefecture, Product.delivery_areas.keys, {}, {class: 'select-default'}
            .form-groups
              =a.label "市区町村",for:"city"
              %span.form-require__option
                任意
              =a.text_field :city, { placeholder: "例）横浜市緑区", class: "input-default2"}
            .form-groups
              =a.label "番地",for:"address"
              %span.form-require__option
                任意
              =a.text_field :address, { placeholder: "例）青山1-1-1", class: "input-default2"}
            .form-groups
              =a.label "建物名",for: "building_name"
              %span.form-require__option
                任意
              =a.text_field :building_name,{placeholder: "例）柳ビル103", class: "input-default2"}
        =f.submit "登録する",{class:"btn-default btn-red register"}
        %p.text-right
          = link_to "#" do
            本人情報の登録について >
= render '/devise/shared/user_footer'
:css
  li.through .progress-status{
    background:#ea352d;
  }
  li.through .progress-status_bar{
    background:#ea352d;
  }
  li.active .progress-status{
    background:#ea352d;
  }
  li.active .progress-status_bar{
    background:#ea352d;
  }
  li.address{
    color:#ea352d;
  }
  li.address .progress-status{
    background:#ea352d;
  }

