.rapper
  .single-container
    .single-header
      %h1.single-header__logo
        = link_to "#" do
          = image_tag "fmarket_logo_red.svg"
      %nav.progress
        %ol.new-clearfix
          %li
            会員情報
            %div.progress-status.firstbar-none.bar-red{id: "first"}
          %li.new-active
            電話番号認証
            %div.progress-status{id: "first"}
          %li
            お届先住所入力
            %div.progress-status
          %li
            支払い方法
            %div.progress-status
          %li
            完了
            %div.progress-status.lastbar-none


    .main
      .main__container
        %h2.main__container__head
          電話番号認証
        .main__container__form
          .main__container__list
            .form-groups
              %label(for="capcha")
                認証番号
              %input.input-default2{ placeholder: "認証番号を入力", type: "number", value: ""}
              %p.form-info-text
                SMSで届いた認証番号を入力してください
              %button{type:"submit", class:"btn-default btn-red"}
                認証して完了
        .main__container__form
          .main__container__list
            %h3.chapter-sub-header
              30秒たっても認証番号が届かない方へ
            %p.single-text
              電話で認証番号を聞くこともできます。
            .form-groups
              %button{type:"submit", class:"btn-default btn-red"}
                電話で認証番号を聞く(通話無料)
        .main__container__form
          .main__container__list
            %h3.chapter-sub-header
              認証番号を再送することもできます。もう一度電話番号を入力して下さい。
              %p
                = link_to "#" do
                  電話番号を再度入力する
            .single-text
              ※SMSが届かない場合は
              = link_to "#" do
                SMS受信設定
              を確認して、もう一度電話番号を入力してください。


  = render '/devise/shared/user_footer'