.item-group
  %h2.item-group__title
    人気のカテゴリー
  .item-group__list
    %ul.item-group__topic
      %li.item-group__element
        レディース
      %li.item-group__element
        メンズ
      %li.item-group__element
        家電・スマホ・カメラ
      %li.item-group__element
        おもちゃ・ホビー・グッズ
.items
  .items__list
    %h3.items__title
      レディース新着アイテム
    .items__watchmore
      = link_to 'もっと見る >',root_path
  .items-elements__wrapper
    %ul.items-elements
      %li.items-element
        = link_to image_tag 'element.jpg',class: 'items-element__image'
        .items-element__name
          生後半年経ちました。
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'element.jpg',class: 'items-element__image'
        .items-element__name
          生後半年経ちました。
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'element.jpg',class: 'items-element__image'
        .items-element__name
          生後半年経ちました。
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'element.jpg',class: 'items-element__image'
        .items-element__name
          生後半年経ちました。
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'element.jpg',class: 'items-element__image'
        .items-element__name
          生後半年経ちました。
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'neko3.jpg',class: 'items-element__image'
        .items-element__name
          末っ子の猫
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'neko3.jpg',class: 'items-element__image'
        .items-element__name
          末っ子の猫
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'neko3.jpg',class: 'items-element__image'
        .items-element__name
          末っ子の猫
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'neko3.jpg',class: 'items-element__image'
        .items-element__name
          末っ子の猫
        .items-element__price
          ¥10,000
      %li.items-element
        = link_to image_tag 'neko3.jpg',class: 'items-element__image'
        .items-element__name
          末っ子の猫
        .items-element__price
          ¥10,000
