.item-header__wrapper
  .item-header__inner
    .item-header__upper
      .item-header__upper__logo
        = link_to image_tag 'fmarket_logo_red.svg'
      .item-header__upper__search-form
        %input.item-header__upper__search-form__text{type: "text",placeholder: "何かお探しですか？"}
        .item-header__upper__search-form__btn
          = link_to root_path do
            =icon 'fas','search'
    .item-header__bottom
      %ul.item-header__bottom__search
        %li.item-header__category
          .item-header__category__title
            = link_to root_path do
              =icon 'fas','list-ul'
              カテゴリーから探す
          .item-header__category__major
            %ul.item-header__category__major__list
              %li.item-header__category__major__element
                レディース
                .item-header__category__medium
                  %ul.item-header__category__medium__list
                    %li.item-header__category__medium__element
                      トップス
                      .item-header__category__small
                        %ul.item-header__category__small__list
                          %li.item-header__category__small__element
                            Tシャツ/カットソー
                          %li.item-header__category__small__element
                            ポロシャツ
                    %li
                      ジャケット/アウター
                    %li
                      パンツ
              %li.item-header__category__major__element
                メンズ
              %li
                ベビー・キッズ


        %li.item-header__brand
          .item-header__brand__title
            = link_to root_path do
              =icon 'fas','tag'
              ブランドから探す
          .item-header__brand__list
            %ul.item-header__brand__list__topic
              %li.item-header__brand__element
                シャネル
              %li.item-header__brand__element
                ナイキ
              %li.item-header__brand__element
                ルイヴィトン

      - if user_signed_in?
        .item-header__bottom__right
          %ul.item-header__login__list
            %li.item-header__iine
              .item-header__iine__title
                = link_to root_path do
                  =icon 'far','heart'
                  いいね！一覧
            %li.item-header__info
              .item-header__info__title
                =link_to root_path do
                  =icon 'far','bell'
                  お知らせ
                  %span.icon-batch
                    99+
              .item-header__info__list
                %ul.item-header__info__list__topic
                  %li.item-header__info__element
                    = link_to root_path
                    .item-header__info__element__logo
                      = image_tag 'logo_red.svg'
                    .item-header__info__element__text
                      %p
                        クーポンの有効期限が切れます
                      %time
                        =icon 'far','clock'
                        1日前
                  %li.item-header__info__element
                    = link_to root_path
                    .item-header__info__element__logo
                      = image_tag 'logo_red.svg'
                    .item-header__info__element__text
                      %p
                        クーポンの有効期限が切れます
                      %time
                        =icon 'far','clock'
                        1日前

            %li.item-header__todo
              .item-header__todo__title
                =link_to root_path do
                  =icon 'fas','check'
                  やることリスト
              .item-header__todo__list
                .item-header__todo__list__empty
                  現在やることはありません
            %li.item-header__mypage
              .item-header__mypage__title
                =link_to root_path do
                  =icon 'far','user-circle'
                  マイページ
              .item-header__mypage__list
                マイページで実装
      - else
        .item-header__bottom__right
          %ul.item-header__login__list
            %li.item-header__iine
              .item-header__iine__title
                = link_to new_user_registration_path, class: 'post' do
                  新規会員登録
            %li.item-header__info
              .item-header__info__title
                =link_to new_user_session_path, class: 'post' do
                  ログイン
