= render partial: "./shared/item-header"
-breadcrumb :mypages
= render partial: "./shared/breadcrumbs"
.mypage
  = render partial: "side_menu"
  .mypage__wrapper
    = render partial: "user"
    = render partial: "notification"
    = render partial: "itemList"
    .exhibit-btn
      .exhibit-btn__text
        = link_to items_new_path do
          出品
      .exhibit-btn__icon
        =icon 'fas','camera'
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"