= render partial: "./shared/item-header"
-breadcrumb :profile
= render partial: "./shared/breadcrumbs"
.main_container
  = render partial: "profile"
  = render partial: "side_menu"
  .exhibit-btn
    .exhibit-btn__text
      = link_to items_new_path do
        出品
    .exhibit-btn__icon
      =icon 'fas','camera'
  
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"
  


