= render partial: "./shared/item-header"
-breadcrumb :profile
= render partial: "./shared/breadcrumbs"
.main_container
  = render partial: "profile"
  = render partial: "side_menu"
  = render '/shared/exhibition_button'
  
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"
  


