= render partial: "./shared/item-header"
-breadcrumb :mypages
= render partial: "./shared/breadcrumbs"
.mypage
  = render partial: "side_menu"
  = render '/shared/exhibition_button'
  .mypage__wrapper
    = render partial: "./shared/phone_number_input",locals: {path: telephone_edit_mypage_path, method: :post}
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"