= render partial: "./shared/item-header"
-breadcrumb :mypages
= render partial: "./shared/breadcrumbs"
.mypage
  = render partial: "./mypages/side_menu"
  .exhibit-btn
    .exhibit-btn__text
      = link_to items_new_path do
        出品
    .exhibit-btn__icon
      =icon 'fas','camera'
  .mypage__wrapper
    = render 'shipping_address_inputform'
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"