.rapper
  = render partial: "./shared/item-header"
  .mypage
    = render partial: "./mypages/side_menu"
    .main__container
      %h2.main__container__head
        本人情報の登録
      .main__container__form
        %div
          %p お客さまの本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認の提出が必要になります。
          %p.text-right
            = link_to "#" do
              本人確認書類のアップロードについて >
        .main__container__list.form-left
          .form-groups.identity
            %label お名前
            %p ヴァレ 有生
          .form-groups.identity
            %label お名前カナ
            %p ヴァレユウイ
          .form-groups.identity
            %label(for="birthday") 生年月日
            %p 1987/05/27
          .form-groups
            %label(for="zip_code")
              郵便番号
            %span.form-require__option
              任意
            %input.input-default2{ placeholder: "例）1234567", type: "text", value:""}
          .form-groups
            %label(for="prefecture")
              都道府県
            %span.form-require__option
              任意
            %select{name: "year", class: "select-default"}
              %option(label="--")
              %option(label="北海道")
              %option(label="青森")
              %option(label="岩手")
              %option(label="秋田")
              %option(label="新潟")
          .form-groups
            %label(for="city")
              市区町村
            %span.form-require__option
              任意
            %input.input-default2{ placeholder: "例）青山1-1-1", type: "text", value:""}
          .form-groups
            %label(for="building")
              建物名
            %span.form-require__option
              任意
            %input.input-default2{ placeholder: "例）柳ビル103", type: "text", value:""}
          %button{type:"submit", class:"btn-default btn-red register"}
            登録する
          %p.text-right
            = link_to "#" do
              本人情報の登録について >
  = render partial: "./items/appbanner"
  = render partial: "./shared/item-footer"

