.rapper
  = render partial: "./shared/item-header"
  .main
    .main__container.all-contents
      %h2.main__container__head.user-identification
        本人情報の登録
      .main__container__form
        = form_with model:@user,url: shipping_addresses_path do |f|
          %div
            %p お客さまの本人情報をご登録ください。
            %br 登録されたお名前・生年月日を変更する場合、本人確認の提出が必要になります。
            %p.text-right
              = link_to "#" do
                本人確認書類のアップロードについて >
          .main__container__list.form-left
            .form-groups.identity
              %label お名前
              %p ヴァレ 有生
            .form-groups.identity
              %label お名前カナ
              %p ヴァレユウイ
            .form-groups.identity
              =f.label "生年月日",for: "birthday" 
              %p 1987/05/27
            .form-groups
              =f.label "郵便番号",for: "zip_code"
              %span.form-require__option
                任意
              =f.text_field :postal_code,{ placeholder: "例）1234567", class: "input-default2"}
            .form-groups
              =f.label "都道府県",for:"prefecture"
              %span.form-require__option
                任意
              = f.select :delivery_area, Product.delivery_areas.keys, {}, {class: 'select-default'}
            .form-groups
              =f.label "市区町村",for:"city"
              %span.form-require__option
                任意
              =f.text_field :city, { placeholder: "例）青山1-1-1", class: "input-default2"}
            .form-groups
              =f.label "建物名",for: "building"
              %span.form-require__option
                任意
              =f.text_field :address,{placeholder: "例）柳ビル103", class: "input-default2"}
            =f.submit "登録する",{class:"btn-default btn-red register"}
            %p.text-right
              = link_to "#" do
                本人情報の登録について >
  = render partial: "./items/appbanner"
  = render partial: "./shared/item-footer"

