%table.itemInfo
  %tbody.itemInfo__table
    %tr
      %th 出品者
      %td
        = link_to "https://www.mercari.com/" do
          = @user.nickname
        %div.itemInfo__table_ratings
          .itemInfo__table_ratings-good
            %i.fas.fa-laugh
            %span 270
          .itemInfo__table_ratings-normal
            %i.fas.fa-meh
            %span 4
          .itemInfo__table_ratings-bad
            %i.fas.fa-frown
            %span 1
    %tr
      %th カテゴリー
      %td.itemInfo__table__Category
        = link_to "https://www.mercari.com/", class: "itemInfo__table__Category-mainCategory"  do
          = @grandchild.parent.parent.name
        .itemInfo__table__Category-subCategory
          %i.fas.fa-chevron-right
          = link_to "https://www.mercari.com/" do
            = @grandchild.parent.name
        .itemInfo__table__Category-smallCategory
          %i.fas.fa-chevron-right
          = link_to "https://www.mercari.com/" do
            = @grandchild.name
    %tr
      %th ブランド
      %td
        = @item.brand.brand if @item.brand_id
    %tr
      %th 商品の状態
      %td
        = @item.condition.condition if @item.condition_id
    %tr
      %th 配送料の負担
      %td 
        = @item.shipping_charge.shipping_charge if @item.shipping_charge_id
    %tr
      %th 配送の方法
      %td
        = @item.shipping_method.shipping_method if @item.shipping_method_id
    %tr
      %th 配送元地域
      %td
        =@item.delivery_area.delivery_area if @item.delivery_area_id
    %tr
      %th 発送日の目安
      %td
        = @item.estimated_shipping_date.estimated_shipping_date if @item.estimated_shipping_date_id
