.item-detail__images
  %ul.slider#detail
    %li
      = image_tag 'neko1.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko2.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko3.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko4.JPG',class: 'item__slider-images'
    %li
      = image_tag 'neko5.JPG',class: 'item__slider-images'
    %li
      = image_tag 'neko1.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko2.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko3.jpg',class: 'item__slider-images'
    %li
      = image_tag 'neko4.JPG',class: 'item__slider-images'
    %li
      = image_tag 'neko5.JPG',class: 'item__slider-images'
  .item-sold-out-badge
