= render 'detail_title'
.item-main-content
  = render 'detail_image'
  = render 'detail_info'
= render 'detail_price'
= render 'detail_message'

-# %section.item-box-container.l-single-container
-#   %h1.item-name 詩島様専用☆ディズニーシーバック
-#   %p.item-wording
-#     『詩島様専用☆ディズニーシーバック』は、269回の取引実績を持つ
-#     %a{:href => "https://www.mercari.com/"}> ししまる
-#     さんから出品されました。
-#     %a{:href => "https://www.mercari.com/"}> キャラクターグッズ/おもちゃ・ホビー・グッズ
-#     の商品で、未定から2~3日で発送されます。
-#   .item-main-content.clearfix
-#     .item-photo
-#       .owl-carousel.owl-loaded.owl-drag
-#         .owl-stage-outer
-#           .owl-stage{:style => "left: -300px; width: 600px;"}
-#             .owl-item{:style => "width: 300px;"}
-#               .owl-item-inner
-#                 %img.owl-lazy{:alt => "詩島様専用☆ディズニーシーバック", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/", :style => "opacity: 1;"}/
-#             .owl-item.active{:style => "width: 300px;"}
-#               .owl-item-inner
-#                 %img.owl-lazy{:alt => "詩島様専用☆ディズニーシーバック", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/", :style => "opacity: 1;"}/
-#         .owl-nav.disabled
-#           .owl-prev prev
-#           .owl-next next
-#         .owl-dots
-#           .owl-dot
-#             %span
-#             .owl-dot-inner
-#               %img{:src => "https://static.mercdn.net/"}/
-#           .owl-dot.active
-#             %span
-#             .owl-dot-inner
-#               %img{:src => "https://static.mercdn.net/"}/
-#       .item-sold-out-badge
-#         %div SOLD
-#     .item-price-box.text-center.visible-sp
-#       %span.item-price.bold ¥3,100
-#       %span.item-tax (税込)
-#       %span.item-shipping-fee 送料込み
-#     %section.visible-sp
-#       .item-buy-btn.disabled 売り切れました
-#     %table.item-detail-table
-#       %tbody
-#         %tr
-#           %th 出品者
-#           %td
-#             %a{:href => "https://www.mercari.com/"} ししまる
-#             %div
-#               .item-user-ratings
-#                 %i.icon-good
-#                 %span 270
-#               .item-user-ratings
-#                 %i.icon-normal
-#                 %span 4
-#               .item-user-ratings
-#                 %i.icon-bad
-#                 %span 1
-#         %tr
-#           %th カテゴリー
-#           %td
-#             %a{:href => "https://www.mercari.com/"}
-#               %div おもちゃ・ホビー・グッズ
-#             %a{:href => "https://www.mercari.com/"}
-#               .item-detail-table-sub-category
-#                 %i.icon-arrow-right
-#                 おもちゃ
-#             %a{:href => "https://www.mercari.com/"}
-#               .item-detail-table-sub-sub-category
-#                 %i.icon-arrow-right
-#                 キャラクターグッズ
-#         %tr
-#           %th ブランド
-#           %td
-#         %tr
-#           %th 商品の状態
-#           %td 新品、未使用
-#         %tr
-#           %th 配送料の負担
-#           %td 送料込み(出品者負担)
-#         %tr
-#           %th 配送の方法
-#           %td らくらくメルカリ便
-#         %tr
-#           %th 配送元地域
-#           %td 未定
-#         %tr
-#           %th 発送日の目安
-#           %td 2~3日で発送
-#   .item-price-box.text-center
-#     %span.item-price.bold ¥3,100
-#     %span.item-tax (税込)
-#     %span.item-shipping-fee 送料込み
-#   .item-buy-btn.disabled 売り切れました
-#   .item-description.f14
-#     %p.item-description-inner
-#       新品未使用です。
-#       自宅保管ですので、神経質な方はご遠慮ください。
-#   .item-button-container.clearfix
-#     .item-button-left
-#       %a.item-button.item-button-like{:href => "https://www.mercari.com/"}
-#         %i.icon-like-border
-#         %span いいね!
-#         %span{"data-num" => "like"} 0
-#       %a.item-button.item-button-report.clearfix{:href => "https://www.mercari.com/"}
-#         %i.icon-flag
-#         %span 不適切な商品の報告
-#     .item-button-right
-#       %a{:href => "https://www.mercari.com/", :target => "_blank"}
-#         %i.icon-lock
-#         %span あんしん・あんぜんへの取り組み

-# .item-detail-message
-#   .message-container
-#     .message-content
-#       %ul.message-items
-#         %li.clearfix
-#           %a.message-user{:href => "https://www.mercari.com/"}
-#             %figure
-#               %div
-#                 %img{:alt => "", :src => "//static.mercdn.net/"}/
-#               %figcaption.bold
-#                 詩島
-#           .message-body
-#             .message-body-text
-#               はじめまして！
-#               %br/
-#             .message-icons.clearfix
-#               %time.message-icon-left
-#                 %i.icon-time
-#                 %span 4 日前
-#               .message-icon-right
-#                 %form{:action => "https://www.mercari.com/", :method => "POST"}
-#                   %button{:type => "submit"}
-#                     %i.icon-flag
-#                   %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
-#             %i.icon-balloon
-#         %li.clearfix
-#           %a.message-user{:href => "https://www.mercari.com/"}
-#             %figure
-#               %div
-#                 %img{:alt => "", :src => "//static.mercdn.net/"}/
-#               %figcaption.bold
-#                 ししまる
-#             .message-is-seller 出品者
-#           .message-body
-#             .message-body-text
-#               詩島様
-#             .message-icons.clearfix
-#               %time.message-icon-left
-#                 %i.icon-time
-#                 %span 4 日前
-#               .message-icon-right
-#                 %form{:action => "https://www.mercari.com/", :method => "POST"}
-#                   %button{:type => "submit"}
-#                     %i.icon-flag
-#                   %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
-#             %i.icon-balloon
-#         %li.clearfix
-#           %a.message-user{:href => "https://www.mercari.com/"}
-#             %figure
-#               %div
-#                 %img{:alt => "", :src => "//static.mercdn.net/"}/
-#               %figcaption.bold
-#                 詩島
-#           .message-body
-#             .message-body-text
-#               ししまる様
-#               %br/
-#               有難うございます。
-#             .message-icons.clearfix
-#               %time.message-icon-left
-#                 %i.icon-time
-#                 %span 4 日前
-#               .message-icon-right
-#                 %form{:action => "https://www.mercari.com/", :method => "POST"}
-#                   %button{:type => "submit"}
-#                     %i.icon-flag
-#                   %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
-#             %i.icon-balloon
-#         %li.clearfix
-#           %a.message-user{:href => "https://www.mercari.com/"}
-#             %figure
-#               %div
-#                 %img{:alt => "", :src => "//static.mercdn.net/"}/
-#               %figcaption.bold
-#                 ししまる
-#             .message-is-seller 出品者
-#           .message-body
-#             .message-body-text
-#               ありがとうございます。
-#             .message-icons.clearfix
-#               %time.message-icon-left
-#                 %i.icon-time
-#                 %span 4 日前
-#               .message-icon-right
-#                 %form{:action => "https://www.mercari.com/", :method => "POST"}
-#                   %button{:type => "submit"}
-#                     %i.icon-flag
-#                   %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
-#             %i.icon-balloon

-# %ul.nav-item-link-prev-next.clearfix
-#   %li.nav-item-link-prev
-#     %a{:href => "https://item.mercari.com/"}
-#       %i.icon-arrow-left>
-#       ANNA SUI  ポーチ新品未使用値下げ
-#   %li.nav-item-link-next
-#     %a{:href => "https://item.mercari.com/"}
-#       フランス人は10着しか服を持たない : パリで学んだ"暮らしの質"を高める秘訣
-#       %i.icon-arrow-right

-# .item-social-media-box
-#   .text-center
-#     .fb-save.fb_iframe_widget{"data-uri" => "product://113299479059860/", "fb-iframe-plugin-query" => "app_id=4", "fb-xfbml-state" => "rendered"}
-#       %span{:style => "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
-#         %iframe{:allow => "encrypted-media", :allowfullscreen => "true", :allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f5b732d6e2bf28", :scrolling => "no", :src => "https://www.facebook.com/", :style => "border: none; visibility: visible; width: 0px; height: 0px;", :title => "fb:save Facebook Social Plugin", :width => "1000px"}
-#   %ul.social-media-box
-#     %li
-#       %a.share-btn{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/", :target => "_blank"}
-#         %i.icon-facebook
-#     %li
-#       %a.share-btn{"data-window-name" => "twitter_window", :href => "http://twitter.com/", :target => "_blank"}
-#         %i.icon-twitter
-#     %li.social-hidden-item
-#       %a{:href => "http://line.me/", :target => "_blank"}
-#         %i.icon-line
-#     %li
-#       %a.share-btn{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/", :target => "_blank"}
-#         %i.icon-pinterest

-# .items-in-user-profile
-#   %section.items-box-container.clearfix.related-item-column.items-in-user-profile
-#     %h2.items-box-head
-#       %a{:href => "https://www.mercari.com/"} ししまるさんのその他の出品
-#     .items-box-content.clearfix
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆アディダス", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆アディダス
-#             .items-box-num
-#               .items-box-price.font-5 ¥2,600
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 2
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/jp/m35512145401/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆スティッチエプロン", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆スティッチエプロン
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,200
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 9
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆チップとデールエプロン", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆チップとデールエプロン
-#             .items-box-num
-#               .items-box-price.font-5 ¥900
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 2
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆ドラミちゃんエプロン", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆ドラミちゃんエプロン
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,000
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 8
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,100
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 7
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "最終出品☆ナイキランニングシューズ", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 最終出品☆ナイキランニングシューズ
-#             .items-box-num
-#               .items-box-price.font-5 ¥3,500
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 16
-#   %section.items-box-container.clearfix.related-item-column
-#     %h2.items-box-head
-#       %a{:href => "https://www.mercari.com/"}
-#         キャラクターグッズ （おもちゃ・ホビー・グッズ） その他の商品
-#     .items-box-content.clearfix
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "トイストーリー4プレミアムフード付きバスタオル", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 トイストーリー4プレミアムフード付きバスタオル
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,100
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "あつめてかさねてポケモンの森2流れ星の夜", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 あつめてかさねてポケモンの森2流れ星の夜
-#             .items-box-num
-#               .items-box-price.font-5 ¥900
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "カーヴィー　マスコット", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 カーヴィー　マスコット
-#             .items-box-num
-#               .items-box-price.font-5 ¥666
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "専用です", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 専用です
-#             .items-box-num
-#               .items-box-price.font-5 ¥3,980
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.is-higher-width.lazyloaded{:alt => "サンリオ クリスマスチャーム ポチャッコ", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 サンリオ クリスマスチャーム ポチャッコ
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,111
-#       %section.items-box
-#         %a{:href => "https://item.mercari.com/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "ヒプマイ 一二三 グッズ", "data-src" => "https://static.mercdn.net/", :src => "https://static.mercdn.net/"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 ヒプマイ 一二三 グッズ
-#             .items-box-num
-#               .items-box-price.font-5 ¥2,500

-# %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
-#   .modal-inner.modal-banner
-#     .modal-body
-#       .modal-head.bold 確認
-#       不適切な商品を報告しますか？
-#     .clearfix
-#       .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
-#       %a{:href => "https://www.mercari.com/"}
-#         %button.modal-btn.modal-btn-submit はい

-# %nav.bread-crumbs.pos-bottom
-#   %ul
-#     %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#       %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
-#         %span{:itemprop => "title"} メルカリ
-#       %i.icon-arrow-right
-#     %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#       %span{:itemprop => "title"} 詩島様専用☆ディズニーシーバック





