.other-items
  %h2.item-box__head
    =link_to "ししまるさんのその他の出品","#"
  .item-box__contents
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
  %h2.item-box__head
    =link_to "カテゴリのその他の出品","#"
  .item-box__contents
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66
    .item-box__container
      = link_to image_tag 'neko1.jpg',{class: 'item-box__container__image'}
      .item-box__container__body
        .item-box__container__name
          大人しく座っている末っ子猫。前足を揃えてエサ待ちです。
        .item-box__container__num
          .item-box__container__price
            ¥10,000
          .item-box__container__iine
            =icon('far','heart')
            %span
              66