.single-container
  .main
    .main__container
      .flashbox
        .alert
          =flash[:alert]
      %h2.main__container__head
        商品の情報を入力
      = form_for @item, method: :patch do |f|
        .sell-form
          .sell-form__content
            %h3.item-upload-head
              出品画像
              %span.form-require
                必須
              %p
                最大10枚までアップロードできます
            =f.fields_for :images do |i|
              .dropbox-container
                .dropbox-text-container
                  =i.file_field :image,type: 'file',multiple: true, name: "item[images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                  =i.label "クリックしてファイルをアップロード",{for: "img-file",class: "dropbox-text"}

        .sell-form
          .form-groups.product-box
            %label(for="productname")
              商品名
            %span.form-require
              必須
            = f.text_field :name, class: 'input-default2', placeholder: '商品名（必須 40文字まで）', type: "text", id:"item_name"
          .form-groups.product-box
            %label(for="description")
              商品の説明
            %span.form-require
              必須
            = f.text_area :description, class:'textarea-default', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など） 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', type: "text"
        .sell-form
          .sell-form__content.clearfix
            %h3.sell-sub-head
              商品の詳細
            .sell-form-box
              .form-groups.select-box
                %label(for="categories")
                  カテゴリー
                %span.form-require
                  必須
                .select-wrap#category_box
                  -# = f.select :category_id, @category_parent_array, {}, {class: 'select-default select-product', id: 'parent_category'}
              .form-groups.select-box
                %label(for="status")
                  商品の状態
                %span.form-require
                  必須
                = f.select :condition_id,Condition.all.collect{|p| [p.condition, p.id]}, {}, {class: 'select-default select-product'}
        .sell-form
          .sell-form__content.clearfix
            %h3.sell-sub-head
              配送について
            .sell-form-box
              .form-groups.select-box
                %label(for="delivery")
                  配送料の負担
                %span.form-require
                  必須
                = f.select :shipping_charge_id,ShippingCharge.all.collect{|p| [p.shipping_charge, p.id]}, {}, {class: 'select-default select-product'}
              .form-groups.select-box
                %label(for="shipping")
                  発送元の地域
                %span.form-require
                  必須
                = f.select :delivery_area_id, Product.delivery_areas, {}, {class: 'select-default select-product'}
              .form-groups.select-box
                %label(for="days")
                  発送までの日数
                %span.form-require
                  必須
                = f.select :estimated_shipping_date_id,EstimatedShippingDate.all.collect{|p| [p.estimated_shipping_date, p.id]}, {}, {class: 'select-default select-product'}
        .sell-form
          .sell-form__content.clearfix
            %h3.sell-sub-head
              販売価格(300~9,999,999)
              = link_to '#', class: "question" do
                ?
            .sell-form-box
              %ul.sell-price
                %li.form-groups.select-box.clearfix
                  .price-input.l-left
                    %label.l-left(for="price")
                      価格
                    %span.form-require
                      必須
                  .l-right.sell-price-input
                    ¥
                    = f.number_field :price, class: 'input-default2 half clearfix input_pricebox', placeholder: '例) 300', type: "text", id:"price_id"
                  %li.clearfix
                    .l-left
                      販売手数料(10%)
                    .l-right.right_bar
                      \-
                  %li.clearfix.bold
                    .l-left
                      販売利益
                    .l-right.bold.right_bar_2
                      \-
        .sell-form
          .sell-form__content
            %p
              =link_to "#" do
                禁止されている出品
              、
              =link_to "#" do
                行為
              を必ずご確認ください。
            %p
              %div
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                =link_to "#" do
                  偽ブランドの販売
                は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              =link_to "#" do
                加盟店規約
              に同意したことになります。
          .sell-form__content
          = f.submit '変更する', class: 'btn-default btn-red shipping-wide'
          =link_to :back, class: "btn-default btn-gray" do
            キャンセル
