= render '/shared/item-header'
= render '/shared/eyecatch'
= render '/shared/elements'
.exhibit-btn
  .exhibit-btn__text
    = link_to items_new_path do
      出品
  .exhibit-btn__icon
    =icon 'fas','camera'
= render partial: "appbanner"
= render '/shared/item-footer'

