= render partial: "./shared/item-header"
.mypage
  = render partial: "./mypages/side_menu"
  = render partial: "cardInfo"
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"