= render partial: "./shared/item-header"
-breadcrumb :newcards
= render partial: "./shared/breadcrumbs"
.mypage
  = render partial: "/mypages/side_menu"
  .card-wrapper
    = render partial: "/shared/card-registration"
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"