.confirmMain
  %section.confirmMain__wrapper
    %h2.confirmMain__wrapper__head
      購入内容の確認
    %section.confirmMain__wrapper__item
      .confirmMain__wrapper__item__info
        .confirmMain__wrapper__item__info__inner
          .confirmMain__wrapper__item__info__inner__box
            %h3.confirmMain__wrapper__item__info__inner__box__image
              = image_tag @item.images[0]["image"], size: '80x80'
          .confirmMain__wrapper__item__info__inner__detail
            .confirmMain__wrapper__item__info__inner__detail__name
              = @item.name
            .confirmMain__wrapper__item__info__inner__detail__price
              = number_to_currency @item.price
              (税込み) 送料込み
    %section.confirmMain__wrapper__buyerInfo
      .confirmMain__wrapper__buyerInfo__inner
        = form_with url: new_trade_path, local: true do |form|
          .confirmMain__wrapper__buyerInfo__inner__price
            .confirmMain__wrapper__buyerInfo__inner__price__label
              支払い金額
            .confirmMain__wrapper__buyerInfo__inner__price__main
              %span
                = number_to_currency @item.price
          .confirmMain__wrapper__buyerInfo__inner__point
            = form.check_box :pointUse, {checked: false}, "true", "false"
            = form.label :pointUse, "ポイントを使用 (所持ポイント: P1000)"
            %br
            .confirmMain__wrapper__buyerInfo__inner__point__use
              = form.radio_button :point,"1"
              すべてのポイント(P1000)を使う
              %br
              = form.radio_button :point,"2"
              ポイントの一部を使う
              %br
              = form.label :point, "使用するポイント:"
              = form.number_field :point,class: "confirmMain__wrapper__buyerInfo__inner__point__use__amount",min: 1
          %section.confirmMain__wrapper__buyerInfo__inner__payMethod
            .confirmMain__wrapper__buyerInfo__inner__payMethod__wrapper
              .confirmMain__wrapper__buyerInfo__inner__payMethod__wrapper__first
                %h3.confirmMain__wrapper__buyerInfo__inner__payMethod__wrapper__first
                  支払い方法
              %p.confirmMain__wrapper__buyerInfo__inner__payMethod__wrapper__second
                ************
                = @card_information.last4
                %br
                有効期限
                = @card_information.exp_month.to_s + " / " + @card_information.exp_year.to_s.slice(2,3)
                %br
                カードブランド名
                = @card_information.brand
          %section.confirmMain__wrapper__buyerInfo__inner__shippingAddress
          - if current_user.shipping_addresses.first == nil
            = link_to shipping_addresses_path do
              配送先住所を登録してください。
          - else
            .confirmMain__wrapper__buyerInfo__inner__shippingAddress__first
              %h3.confirmMain__wrapper__buyerInfo__inner__shippingAddress__first
                配送先
              = link_to shipping_addresses_path do
                変更する
          
            %address.confirmMain__wrapper__buyerInfo__inner__shippingAddress__second
              〒
              = current_user.shipping_addresses.first["postal_code"]
              %br 
              = current_user.shipping_addresses.first["prefecture"]
              = current_user.shipping_addresses.first["city"]
              = current_user.shipping_addresses.first["address"]
              = current_user.shipping_addresses.first["building_name"]
              %br
              = current_user.shipping_addresses.first["family_name"]
              = current_user.shipping_addresses.first["first_name"]
            %section.confirmMain__wrapper__buyerInfo__inner__btn
              = form.submit "購入する",class: "confirmMain__wrapper__buyerInfo__inner__btn-red"